@using System.Threading.Tasks
@model LibraryWebApp.ViewModels.BookLendViewModel

@{
    Layout = "_LayoutAdmin";
}

<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Lend a book</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" asp-action="Create" asp-controller="BookLendsAdmin">
            <div class="form-group">
                <label asp-for="DateLend" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="input-group date" id="dateTimePicker1">
                        <input asp-for="DateLend" class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                        <span asp-validation-for="DateLend" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateReturn" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="input-group date" id="dateTimePicker2">
                        <input asp-for="DateReturn" class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                        <span asp-validation-for="DateReturn" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IdBook" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <select asp-for="IdBook" class="form-control" asp-items="@((List<SelectListItem>) (ViewData["BookId"]))"></select>
                    <span asp-validation-for="IdBook" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <select asp-for="IdUser" class="form-control" asp-items="@((List<SelectListItem>) (ViewData["UserId"]))"></select>
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Count" class="form-control" asp-items="@((List<SelectListItem>) (ViewData["BooksCount"]))"></select>
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Lend" />
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        function updateBooksCount() {
            var selectedBook = $("#IdBook").val();
            $.ajax({
                url: '@Url.Action("GetBooksCountSelectList", "BookLendsAdmin")',
                data: { idBook: selectedBook, selectedValue: ""},
                success: function (result) {
                    $("#Count").empty();
                    $.each(result, function (Value, Text) {
                        $("#Count").append($('<option></option>').val(Text.value).html(Text.text));
                    });
                }
            });
        };

        $(function () {
            var dateNow = new Date();
            $('#dateTimePicker1').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                daysOfWeekDisabled: [0, 6],
                useCurrent: false,
                disabledTimeIntervals: [[moment().hour(0), moment().hour(8).minutes(59)], [moment().hour(19).minutes(59), moment().hour(24)]],
                allowInputToggle: true,
                defaultDate:moment(dateNow)
            });

            $('#dateTimePicker2').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                daysOfWeekDisabled: [0, 6],
                useCurrent: false,
                disabledTimeIntervals: [[moment().hour(0), moment().hour(8).minutes(59)], [moment().hour(19).minutes(59), moment().hour(24)]],
                allowInputToggle: true
            });
            $("#IdBook").change(function(){
                updateBooksCount();
            });
        });
    </script>
}