@model IEnumerable<LibraryWebApp.Models.BookLend>

@{
    Layout = "_LayoutAdmin";
}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Book lends</div>
        <div><a asp-action="Create" asp-controller="BookLendsAdmin" class="btn btn-default btn-sm">+</a>
        </div>
    </div>
    <div class="panel-body">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="BookLend">
            <thead>
            <tr>
                <th>Date of lend</th>
                <th>Date of return</th>
                <th>Book</th>
                <th>User</th>
                <th>Count</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                if (!item.DateReturn.HasValue)
                {
                    <tr class="bookInUse">
                        <td>@item.DateLend</td>
                        <td>Book is in use during @((DateTime.Now - item.DateLend).Value.Days) day(s), @((DateTime.Now - item.DateLend).Value.Hours) hour(s) and @((DateTime.Now - item.DateLend).Value.Minutes) minute(s)</td>
                        <td>@item.IdBookNavigation.Name</td>
                        <td>@item.IdUserNavigation.LastName @item.IdUserNavigation.FirstName @item.IdUserNavigation.SecondName</td>
                        <td>@item.Count</td>
                        <td><a asp-controller="BookLendsAdmin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm">Edit</a></td>
                        <td><a asp-controller="BookLendsAdmin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm">Delete</a></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@item.DateLend</td>
                        <td>@item.DateReturn</td>
                        <td>@item.IdBookNavigation.Name</td>
                        <td>@item.IdUserNavigation.LastName @item.IdUserNavigation.FirstName @item.IdUserNavigation.SecondName</td>
                        <td>@item.Count</td>
                        <td></td>
                        <td><a asp-controller="BookLendsAdmin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm">Delete</a></td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.js"></script>
    <script>
        $(function() {
            $("#BookLend").dataTable();
        });
    </script>
}