﻿<!DOCTYPE html>
<html>
<head>
    <title>Online Library Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/css/admin.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--datetimepicker-->
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" />    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a asp-controller="Home" asp-action="Index">Online Library Admin Page</a></h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 logout">
                    <a asp-controller="Account" asp-action="LogOff">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li><a asp-controller="BooksAdmin" asp-action="Index"><i class="glyphicon glyphicon-book"></i> Books</a></li>
                        <li><a asp-controller="CategoriesAdmin" asp-action="Index"><i class="glyphicon glyphicon-folder-open"></i> Categories</a></li>
                        <li><a asp-controller="UsersAdmin" asp-action="Index"><i class="glyphicon glyphicon-user"></i> Users</a></li>
                        <li><a asp-controller="BookLendsAdmin" asp-action="Index"><i class="glyphicon glyphicon-share-alt"></i>Book Lend</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">

            <div class="copy text-center">
                Copyright 2016 <a href='https://www.facebook.com/dana.baula' target="_blank">DanaBaula</a>
            </div>

        </div>
    </footer>
</body>
</html>