﻿@using System.Threading.Tasks
@using LibraryWebApp.Models
@using LibraryWebApp.ViewComponents
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> Settings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Library - @ViewBag.Title</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Books <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Books" asp-action="All">All books</a></li>
                                <li><a asp-controller="Books" asp-action="Top">Top books</a></li>
                                <li><a asp-controller="Books" asp-action="New">New books</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Categories <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @await Component.InvokeAsync("Categories", new{ count = 0})
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.Name == Settings.Value.AdminEmail)
                            {
                                <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Account" asp-action="PersonalCabinet">@User.Identity.Name</a></li>
                                <li><a asp-controller="Account" asp-action="Wishlist">Wishlist</a></li>
                                <li><a asp-controller="Account" asp-action="BooksHistory">Books history</a></li>
                            }
                            <li><a asp-controller="Account" asp-action="LogOff">Log off</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("BooksInUse")
                    }
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->
    @RenderBody()
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-5">
                    <div class="footer-about-us">
                        <h2><span>Online Library</span></h2>
                        <p>This is online library!</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-9">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User Navigation </h2>
                        <ul>
                            <li><a asp-controller="Account" asp-action="PersonalCabinet">My account</a></li>
                            <li><a asp-controller="Account" asp-action="BooksHistory">Book history</a></li>
                            <li><a asp-controller="Account" asp-action="Wishlist">Wishlist</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-5 col-sm-10">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            @await Component.InvokeAsync("Categories", new {count = 3})
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>&copy; 2016 OnlineLibrary. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="https://www.facebook.com/dana.baula" target="_blank">DanaBaula</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <!-- Latest jQuery from server -->
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="~/js/bootstrap.js"></script>

    <!-- jQuery sticky menu -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="~/js/main.js"></script>
</body>
</html>