@model LibraryWebApp.ViewModels.RegisterViewModel

@{
    Layout = "_LayoutAdmin";
}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Add User</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" asp-action="Register" asp-controller="Account">
            <div class="form-group">
                <label asp-for="Login" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Login" class="form-control">
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="SecondName" class="form-control">
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Add" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @Html.ValidationSummary()
                </div>
            </div>
        </form>
    </div>
</div>

