﻿@model IEnumerable<LibraryWebApp.Models.BookLend>
@{
    ViewBag.Title = "Books history";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        @if (Model.Any())
        {
            <h3>Now you're reading</h3>
            <table cellspacing="0" class="shop_table cart">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Where(i => !i.DateReturn.HasValue))
                {
                    <tr class="cart_item">
                        <td>
                            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.IdBook"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="@item.IdBookNavigation.Image"></a>
                        </td>

                        <td>
                            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.IdBook">@item.IdBookNavigation.Name</a>
                        </td>

                        <td>
                            <span>@item.IdBookNavigation.Author</span>
                        </td>

                        <td>
                            @item.DateLend
                        </td>
                        <td>
                            @item.Count
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@Model.Where(i => !i.DateReturn.HasValue).Sum(i => i.Count)</td>
                </tr>
                </tbody>
            </table>
            <h3>Previous books</h3>
            <div>
                @foreach (var item in Model.Where(i => i.DateReturn.HasValue).OrderByDescending(i => i.DateLend))
                {
                    <p><a asp-controller="Books" asp-action="Details" asp-route-id="@item.IdBook">@item.IdBookNavigation.Name [@item.Count] (@item.IdBookNavigation.Author)</a> - @item.DateLend (returned - @item.DateReturn)
                    </p>
                }
            </div>
        }
        else
        {
            <h3>There is no records!</h3>
        }
    </div>
</div>
