﻿@model LibraryWebApp.ViewModels.UserViewModel
@{
    ViewBag.Title = "Edit Personal Data";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <form class="form-horizontal" role="form" asp-controller="Account" asp-action="EditPersonalData">
            <div class="row col-sm-12 form-horizontal">
                <h3>
                    <a asp-controller="Account" asp-action="PersonalCabinet">Personal Cabinet</a>
                </h3>
                <input hidden asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SecondName" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="SecondName" class="form-control">
                        <span asp-validation-for="SecondName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="Address" class="form-control">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
