﻿@using LibraryWebApp.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <h4>Use a local account to log in.</h4>
                        <hr/>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Login" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Login" class="form-control"/>
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default">Log in</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>