﻿@model LibraryWebApp.ViewModels.UserViewModel
@{
    ViewBag.Title = "Personal Cabinet";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row col-sm-12 form-horizontal">
            <h3>Personal Data - <a asp-controller="Account" asp-action="EditPersonalData">Edit</a></h3>
            <div class="form-group">
                    <label asp-for="FirstName" class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="FirstName" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="LastName" class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="LastName" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="SecondName" class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="SecondName" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="Email" class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="PhoneNumber" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="Address" class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Address" class="form-control" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
