﻿@model IEnumerable<LibraryWebApp.Models.WishList>
@{
    ViewBag.Title = "Wishlist";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-1">
                    <img alt="@item.IdBookNavigation.Name" src="@item.IdBookNavigation.Image"/>
                </div>
                <div class="col-md-9">
                    <p class="product-name"><a asp-controller="Books" asp-action="Details" asp-route-id="@item.IdBook">@item.IdBookNavigation.Name - @item.IdBookNavigation.Author</a></p>
                </div>
                <div class="col-md-2">
                    <form asp-controller="Books" asp-action="RemoveFromWishListPost">
                        <input hidden id="idBook" name="idBook" value="@item.IdBook"/>
                        <button class="add_to_cart_button" type="submit">Remove from wishlist</button>
                    </form>
                </div>
            </div>
            <hr/>
        }
    </div>
</div>