﻿@model IEnumerable<LibraryWebApp.Models.Book>
@using LibraryWebApp.ViewComponents
@using LibraryWebApp.Models
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        @if (ViewBag.Category != null)
        {
            <div class="product-breadcroumb">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Books" asp-action="Category" asp-route-id="@ViewBag.CategoryId">@ViewBag.Category</a>
            </div>
            <h2>@ViewBag.Category</h2>
        }
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                @await Component.InvokeAsync("Book", new{book = item});
                <hr />
            }
        }
        else
        {
            <h3>There is no books!</h3>
        }
        @if (ViewBag.pager != null)
        {
            @await Component.InvokeAsync("Pagination", new{pager = (Pager)ViewBag.pager});
        }
    </div>
</div>