@model LibraryWebApp.Models.Book
@{
    ViewBag.Title = Model.Name;
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-breadcroumb">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Books" asp-action="Category" asp-route-id="@Model.CategoryId">@Model.Category.Name</a>
                    <a href="">@Model.Name</a>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="product-images">
                            <div class="product-main-img">
                                <img src="@Url.Content(@Model.Image)" alt="@Model.Name">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="product-inner">
                            <h2 class="product-name">@Model.Name</h2>

                            <div class="product-inner-category">
                                <p>
                                    Category: <a asp-controller="Books" asp-action="Category" asp-route-id="@Model.CategoryId">@Model.Category.Name</a>
                                </p>
                                <p>
                                    Author: @Model.Author
                                </p>
                                <p>
                                    City: @Model.City
                                </p>
                                <p>
                                    Year: @Model.Year
                                </p>
                                <p>
                                    Books left: @ViewBag.BooksLeft
                                </p>
                                <p>
                                    Count of pages: @Model.PagesCount
                                </p>
                                <p>
                                    Added: @Model.DateAdded.Value.Date.ToString("d")
                                </p>
                            </div>
                            <h2>Description</h2>
                            <div class="description">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>