﻿@model IEnumerable<LibraryWebApp.Models.Book>

@{
    ViewBag.Title = "New books";
}
<div class="container">
    @foreach (var item in Model)
    {
        @await Component.InvokeAsync("Book", new {book = item});
    }
</div>