@model IEnumerable<LibraryWebApp.Models.Book>

@{
    ViewBag.Title = "Top books";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <a href="">Top books</a>
                    </div>
                    @foreach (var item in Model)
                    {
                        @await Component.InvokeAsync("Book", new { book = item});
                    }
                </div>
            </div>
        </div>
    </div>
</div>