﻿@model LibraryWebApp.Models.AspNetUsers
<div class="shopping-item">
    <a asp-controller="Account" asp-action="BooksHistory">Books - <span class="cart-amunt">@Model.BookLend.Sum(b=>b.Count)</span> <i class="fa fa-book"></i> <span class="product-count">@Model.BookLend.Where(b => !b.DateReturn.HasValue).Sum(b=>b.Count)</span></a>
</div>