﻿@model LibraryWebApp.ViewModels.UserBooksViewModel
<div style = "margin-bottom: 20px;" class='row @string.Format("bookComponent{0}",Model.Book.Id)'>
    <div class="col-xs-3">
        <div class="product-images">
            <div class="product-img">
                <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id">
                    <img src="@Url.Content(@Model.Book.Image)" alt="@Model.Book.Name">
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="product-inner">
            <h2 class="product-name"><a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id">@Model.Book.Name</a></h2>
            <div class="product-inner-price">
                <div>
                    Category: <a asp-controller="Books" asp-action="Category" asp-route-id="@Model.Book.CategoryId">@Model.Book.Category.Name</a>
                </div>
                Wishlist: <ins><i class="fa fa-heart"> @Model.Book.WishList.Count </i></ins>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                if (Model.User.WishList.Any(w => w.IdBook == Model.Book.Id))
                 {
                     <button class="add_to_cart_button removeFromWishList" id='@string.Format("removeFromWishList{0}", Model.Book.Id)' type="submit" onclick="removeWish(this);">Remove from wishlist</button>
                 }
                 else
                 {
                     <button class="add_to_cart_button addToWishList" id='@string.Format("addToWishList{0}", Model.Book.Id)' type="submit" onclick="addWish(this);">Add to wishlist</button>
                 }
            }
            <div>
                <p>@Model.Book.Description</p>
            </div>
        </div>
    </div>
</div>