﻿@model IEnumerable<LibraryWebApp.Models.Book>

@{
    Layout = "_LayoutAdmin";
}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title"><a asp-action="Index" asp-controller="CategoriesAdmin" class="btn btn-default btn-sm"> Back</a> Books in @ViewData["CategoryName"]</div>
    </div>
    <div class="panel-body">
        @if (Model.ToList().Any())
        {
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Author)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th>@Html.DisplayNameFor(model => model.Count)</th>
                    <th>@Html.DisplayNameFor(model => model.DateAdded)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Year)</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td>@Html.DisplayFor(modelItem => item.Author)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Count)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateAdded)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Year)</td>
                        <td><a asp-controller="BooksAdmin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm">Edit</a></td>
                        <td><a asp-controller="BooksAdmin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm">Delete</a></td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h3>There is no books!</h3>
        }
    </div>
</div>