@model IEnumerable<LibraryWebApp.Models.Category>

@{
    Layout = "_LayoutAdmin";
}

<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Categories</div>
        <div><a asp-action="Create" asp-controller="CategoriesAdmin" class="btn btn-default btn-sm">+</a></div>
    </div>
    <div class="panel-body">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Count of books</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td class="center">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="center">@item.Book.Count</td>
                        <td class="center"><a asp-controller="CategoriesAdmin" asp-action="Books" asp-route-id="@item.Id" class="btn btn-default btn-sm">Go to Books</a></td>
                        <td class="center"><a asp-controller="CategoriesAdmin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm">Edit</a></td>
                        <td class="center"><a asp-controller="CategoriesAdmin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>