@model LibraryWebApp.ViewModels.BookViewModel

@{
    Layout = "_LayoutAdmin";
}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Add Book</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" asp-action="Create" asp-controller="BooksAdmin" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Author" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Author" class="form-control">
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <select asp-for="CategoryId" class="form-control" asp-items="@((List<SelectListItem>) (ViewData["CategoryId"]))"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="City" class="form-control">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Count" class="form-control">
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="input-group date" id="dateTimePicker">
                        <input asp-for="DateAdded" class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                        <span asp-validation-for="DateAdded" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input type="file" asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PagesCount" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PagesCount" class="form-control">
                    <span asp-validation-for="PagesCount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Publisher" class="form-control">
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Year" class="form-control">
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Add"/>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#dateTimePicker').datetimepicker({
                viewMode: 'days',
                format: 'DD.MM.YYYY'
            });
        });
    </script>
}