@model IEnumerable<LibraryWebApp.ViewModels.BookViewModel>

@{
    Layout = "_LayoutAdmin";
}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Books</div>
        <div><a asp-action="Create" asp-controller="BooksAdmin" class="btn btn-default btn-sm">+</a></div>
    </div>
    <div class="panel-body">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="Books">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Author)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
                    <th>@Html.DisplayNameFor(model => model.Count)</th>
                    <th>@Html.DisplayNameFor(model => model.DateAdded)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Year)</th>
                    <th>@Html.DisplayNameFor(model => model.Available)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Available > 0)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Author)</td>
                            <td><a asp-controller="BookLendsAdmin" asp-action="FilteredBook" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Count)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateAdded)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Year)</td>
                            <td>@Html.DisplayFor(modelItem => item.Available)</td>
                            <td><a asp-controller="BooksAdmin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm">Edit</a></td>
                            <td><a asp-controller="BooksAdmin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm">Delete</a></td>
                        </tr>
                    }
                    else
                    {
                        <tr class="bookInUse">
                            <td>@Html.DisplayFor(modelItem => item.Author)</td>
                            <td><a asp-controller="BookLendsAdmin" asp-action="FilteredBook" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Count)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateAdded)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Year)</td>
                            <td>@Html.DisplayFor(modelItem => item.Available)</td>
                            <td><a asp-controller="BooksAdmin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-sm">Edit</a></td>
                            <td><a asp-controller="BooksAdmin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm">Delete</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.js"></script>
    <script>
        $(function() {
            $("#Books").dataTable();
        });
    </script>
}