﻿@using LibraryWebApp.ViewComponents
@{
    ViewBag.Title = "Home";
}
<div class="slider-area">
    <div class="zigzag-bottom"></div>
    <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">

        <div class="slide-bulletz">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="carousel-indicators slide-indicators">
                            <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                            <li data-target="#slide-list" data-slide-to="1"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="single-slide">
                    <div class="slide-bg slide-one"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Explore</h2>
                                            <p>Explore New Books.</p>
                                            <p>
                                                Books can open windows to new worlds and doors to adventure.
                                                As part of its Lifelong Literacy Campaign, which encourages children and young adults to
                                                become engaged in reading, the Library of Congress presents a sampling of suggested
                                                books that will spark imagination and transport readers to new and exciting places.
                                                Look for them at your public library or in your local bookstore. Explore new worlds. Read.
                                            </p>
                                            <a asp-controller="Books" asp-action="All" class="readmore">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-two"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Follow</h2>
                                            <p>Follow your books.</p>
                                            <p>Follow what are you reading now and how many books you have read.</p>
                                            <a asp-controller="Account" asp-action="BooksHistory" class="readmore">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> <!-- End slider area -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Popular books</h2>
                    <a asp-controller="Books" asp-action="Top" class="wid-view-more">View All</a>
                    @await Component.InvokeAsync("TopBooks",new {numberOfItems = 3})
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">New Books</h2>
                    <a asp-controller="Books" asp-action="New" class="wid-view-more">View All</a>
                    @await Component.InvokeAsync("NewBooks",new {numberOfItems = 3})
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->