@model LibraryWebApp.Models.AspNetUsers

@{
    Layout = "_LayoutAdmin";
}


<form asp-action="Delete" class="form-horizontal" asp-controller="UsersAdmin">
    <div class="form-group">
        <h4 class="col-sm-5 control-label">Are you sure you want to delete user "@Model.Email"?</h4>
        <div class="col-sm-7">
            <input type="submit" value="Yes" class="btn btn-default" />
        </div>
    </div>
</form>