@model IEnumerable<LibraryWebApp.Models.AspNetUsers>

@{
    Layout = "_LayoutAdmin";
}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Users</div>
        <div><a asp-action="Create" asp-controller="UsersAdmin" class="btn btn-default btn-sm">+</a></div>
    </div>
    <div class="panel-body">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Second Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr class="odd gradeX">
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SecondName)</td>
                        <td><a asp-controller="BookLendsAdmin" asp-action="FilteredUser" asp-route-id="@item.Id" class="btn btn-default btn-sm">Go to books</a></td>
                        <td><a asp-controller="UsersAdmin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-sm">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>