﻿@model LibraryWebApp.Models.Pager
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="product-pagination text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            @if (Model.PreviousPage == "")
                            {
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Books" asp-action="@Model.Action" asp-route-page="@Model.PreviousPage" asp-route-id="@Model.RouteCategory" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            }
                        </li>
                        @foreach (var item in Model.Pages)
                        {
                            if (item == Model.CurrentPage)
                            {
                                <li class="active">
                                    <a href="#">@item</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Books" asp-action="@Model.Action" asp-route-page="@item" asp-route-id="@Model.RouteCategory">@item</a>
                                </li>
                            }
                        }
                        <li>
                            @if (Model.NextPage == "")
                            {
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Books" asp-action="@Model.Action" asp-route-page="@Model.NextPage" asp-route-id="@Model.RouteCategory" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            }
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>